/* =Table of Contents
--------------------------------------------------------------
	=Common Styles
	=Typography
	=Buttons
	=Content Styles
	=Navigation
	=Hero
	=Services
	=Portfolio
	=Project
	=Team
	=Subscribe
	=Testimonials
	=Footer
	=Blog
	=Slider
	=Video
	=Media
*/


/* =Common Styles
-------------------------------------------------------------- */
@import "form-supcripcion-min.css";
@import "animations-min.css";

body { 
	background: #fff;
	color: #424242;
	font: normal 15px "Open Sans", arial, sans-serif;
	font-weight: 300;  
}

section { overflow: hidden;  }
::selection { background: #060606; color: #fff; }
::-moz-selection { background: #060606; color: #fff; }
#loading { display: none; }


/* =Typography
-------------------------------------------------------------- */

p { color: #424242;
	line-height: 1.6em;
	margin: 0 0 20px;
}

em { font-style: italic; }
strong { font-weight: 400; }
small { font-size: 0.8em; }

.post-body ul, .unordered-list { margin-bottom: 20px; }
.post-body ul li, .unordered-list li { margin-bottom: 5px; }
.post-body ul li:before, .unordered-list li:before {
	content: "∙";
	margin-right: 5px;
}

blockquote {
	background: #f9f9f9;
	padding: 15px 0px 15px 30px;
	border-left: 2px solid #e9e9e9;
	font-style: italic;
	margin-bottom: 20px;
}

code {
	display: block;
	clear: both;
	overflow: auto;
	padding: 10px 20px 20px 20px;
	white-space: pre;
	background-color: #f9f9f9;
	border: 1px solid #e9e9e9;
	font: 12px "Andale Mono",Courier,"Courier New",monospace;
	margin-bottom: 20px;
}

h1,h2,h3,h4,h5,h6 {
	color: #060606;
	font-style: normal;
	font-weight: 300;
	line-height: 1.17em;
	margin: 0 0 20px;
}

h1 {
	font-size: 3.46666666667em;
	text-transform: uppercase;
	letter-spacing: 0.20em;
}

h2 {
	font-size: 1em;
	text-transform: none;

}
.contact-heading h3{
	color: #f34c36;
	font-size: 1.3em;
	text-transform: uppercase;
	letter-spacing: 0.20em;
}
	

h3 {
	font-size: 2.4em;
	text-transform: uppercase;
	letter-spacing: 0.20em;
	
}

h4 {
	font-size: 1em;
	text-transform: none;
	font-weight: 400;	
}

h5 {
	font-size: 1em;
	font-weight: 400;
}

h6 {
	font-size: 0.8em;
	text-transform: uppercase;
	font-weight: 400;
}

/* Typography for dark backgrounds */

.dark p, .dark h1, .dark h2, .dark h3, .dark h4, .dark h5 {
	color: #fff;
	margin-top: 5px;
}
.dark a { color: #fff!important; }

#texti{ color: #909090; text-transform: none; font-size:14px;} 

/* Links */
a, a:visited { font-weight: 400; text-decoration: none; }


/* =Buttons
-------------------------------------------------------------- */

.button {
	display: inline-block;
	padding: 20px 55px;
	font-size: 1em;
	text-transform: uppercase;
	letter-spacing: 0.20em;
	font-weight: 400;
	border-radius: 3px;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
}

.dark .button { border: 1px solid #fff!important; }
.dark .button:hover { background: #e8422d; opacity: .7; filter: alpha(opacity=50); }

.button.no-border { border: none!important; padding: 20px 0px; }

.button.no-border:hover {
	border: none!important;
	background: transparent;
	opacity: .7;
    filter: alpha(opacity=70);
}

.button .icon {
	display: inline-block;
	margin-left: 17px;
	margin-bottom: -6px;
	width: 26px;
	height: 26px;
	cursor: pointer;
	background: url(../images/icons/right.png) no-repeat center center;
}


/* =Content Styles
-------------------------------------------------------------- */

.content { padding-top: 100px; text-align: center; }
.content.padded { padding-bottom: 100px; }

.parallax {
	width: 100%;
	background-attachment: fixed;
	background-position: 50% 0;
}

/* Parallax Fix */
@media only screen and (min-width: 1930px) { .parallax { background-size: cover; } }

.parallax.black { background-color: #060606; }

.parallax.no-parallax { background-size: cover!important; background-attachment: scroll!important; background-position: center!important; }

.parallax-bg3 { background-image: url(../images/clients.jpg); }

.title { text-align: center; }

.sub-heading { margin: 48px auto; max-width: 630px; }

.border {
	display: block;
	width: 80px;
	height: 2px;
	background: #060606;
	margin: 0 auto;
}

.dark .border { background: #fff; }


/* =Navigation
-------------------------------------------------------------- */

nav {
	position: fixed;
	top: 0;
	width: 100%;
	background-image:url(../images/bg-topp.gif); background-repeat:repeat;
	border-bottom: 2px solid #f0f0f0;
	padding: 15px 0px;
	z-index: 999;
}

.logo { 
	width: 35%;
	margin-left: 5%;
	float: left;
}

.navigation { display: none; }

.desktop.navigation {
	display: block!important;
	width: 55%;
	margin-right: 5%;
	float: left;
}

.desktop.navigation .nav-content { float: right; }

.desktop.navigation .nav-content li {
	float: left;
	margin-right: 25px;
	line-height: 50px; /* Set to the height of your own logo to center the text */
}

.desktop.navigation .nav-content a {
	color: #060606;
	text-transform: capitalize;
	font-size: 0.9em;
	opacity: .5;
	filter: alpha(opacity=50);
}

.desktop.navigation .nav-content a:hover, .desktop.navigation .nav-content a.active  { opacity: 1; filter: alpha(opacity=100); }

.desktop.navigation .nav-content li:last-of-type { margin-right: 0px; }

/* Mobile Navigation */

.mobile.navigation {
	display: none;
	width: 90%;
	margin: 0 5%;
	float: left;
}

.mobile.navigation .nav-content {
	float: left;
	width: 100%;
}

.mobile.navigation .nav-content li {
	display: block;
	width: 100%;
	margin-top: 15px;
	padding-top: 15px;
	border-top: 1px solid #f0f0f0;
}

.mobile.navigation .nav-content li:first-of-type { border-top: none; }

.mobile.navigation .nav-content a {
	display: block;
	color: #060606;
	text-transform: capitalize;
	font-size: 0.8em;

}

.nav-button {
	display: none;
	width: 26px;
	height: 30px;
	background: transparent;
	padding: 0;
	margin-right: 5%;
	float: right;
	border: none;
	cursor: pointer;
}

/* Navigation Icon */
.icon-bar {
	display: block;
	float: left;
	width: 100%;
	height: 3px;
	margin-top: 3px;
	background: #060606;
}


/* =Hero
-------------------------------------------------------------- */

.hero { text-align: center; background-size: cover; }
.hero .content { padding-top: 0px; }

.ticker {
	overflow: hidden;
	height: 90px;
	vertical-align: baseline;
	text-shadow: 2px 1px hsla(0,0%,87%,0.90);
}

.ticker h1 {
	margin-bottom: 0px;
	height: 90px;
    -webkit-transition: margin-top 0.5s ease-in-out;
    -moz-transition:    margin-top 0.5s ease-in-out;
    -o-transition:      margin-top 0.5s ease-in-out;
    transition:         margin-top 0.5s ease-in-out;
}

/* =Services
-------------------------------------------------------------- */

.icons .overview {
	position: relative;
	float: left;
	width: 16.6666666667%;
	text-align: center;
	overflow: visible;
	margin-left: 6.3%;
}

.icon {
	display: inline-block;
	width: 130px;
	height: 130px;
	cursor: help;
	margin-bottom: 20px;
}
.icon.calculator { background: url(../images/icons/web.png) no-repeat top; background-size: 130px 260px; }
.icon.config { background: url(../images/icons/sistemas.png) no-repeat top; background-size:130px 260px; }
.icon.heart { background: url(../images/icons/socialmedia.png) no-repeat top; background-size: 130px 260px; }
.icon.coffee { background: url(../images/icons/imagen.png) no-repeat top; background-size: 130px 260px; }
.icon.plane { background: url(../images/icons/paso1.png) no-repeat top; background-size: 130px 130px; }
.icon.desar { background: url(../images/icons/paso2.png) no-repeat top; background-size: 130px 130px; }
.icon.lansam { background: url(../images/icons/paso3.png) no-repeat top; background-size: 130px 130px; }
.icon:hover { background-position: bottom; }

.tooltip {
	display: none;
	position: absolute;
	width: 260px;
	background: #060606;
	background: rgba(6, 6, 6, .85);
	top: auto;
	bottom: 100%;
	left: 50%;
	margin-left: -130px;
	padding: 20px;
	margin-bottom: 30px;
	border-radius: 3px;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
}

.feature-list {
	font-style: italic;
	font-weight: 300;
	font-size: 0.9333333333333em;
	color: #fff;
	color: rgba(255, 255, 255, .90)!important;
	text-align: left;
	color: #fff;
}

.list-dot {
	display: inline-block;
	margin-right: 15px;
	width: 7px;
	height: 7px;
	border-radius: 50px;
		-moz-border-radius: 50px;
		-webkit-border-radius: 50px;
}

.feature-list li { padding-bottom: 10px; }

.arrow-down {
	display: none;
	position: absolute;
	left: 50%;
	margin-left: -8px;
	top: auto;
	bottom: 100%;
	margin-bottom: 22px;
	width: 0; 
	height: 0;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-top: 8px solid rgba(6, 6, 6, .85); 
}

.visible { display: block; }

	


/* =Portfolio
-------------------------------------------------------------- */

.portfolio { width: 100%; }
.projectlist { margin-top: 50px; background: transparent; }
.projectlist li { width: 20%; padding: 0 5px 0 0; float: left; }
.projectlist a { display: block; padding-bottom: 85px; position: relative; }

.projectlist a:hover { 
	cursor: url('images/cursors/more.cur'), crosshair;
	cursor: url('images/cursors/more.png') 40 40, crosshair;
}

.projectlist a img { width: 100%;  }
.projectinfo { position: absolute; width: 100%; height: 100%; top: 0; z-index: 100; }
.meta { position: absolute; bottom: 0; margin-bottom: 25px; width: 100%; text-align: center; }
.meta h4, .project-title h4 { margin-bottom: 6px; }
.meta h6, .project-title h6 { margin-bottom: 0px; }
.meta em, .project-title em { font-family: "Times New Roman", Times, serif; font-style: italic; text-transform: lowercase; color: #424242; }
.projectlist a:hover .meta h4, .projectlist a:hover .meta em { color: #fff!important; }

/* Filtering */
#portfolio-grid .mix { opacity: 0; display: none; }
.filtering { margin-top: 50px; }
.filtering li { margin-right: 10px; }
.filtering li:after {
	content: "/";
	color: #898989;
	padding-left: 15px;
}
.filtering li:last-of-type:after { content: ""; }
.filter { font-family: "Times New Roman", Times, serif; font-style: italic; text-transform: lowercase; color: #424242; cursor: pointer; display: inline-block; }


/* =Team
-------------------------------------------------------------- */

.team-list { text-align: center; padding: 50px 0px 30px; float: left; }

.name { width: 100%; }
.name h4 { margin-bottom: 6px; }
.name h6 { margin-bottom: 20px; }
.name em { font-family: "Times New Roman", Times, serif; font-style: italic; text-transform: lowercase; color: #424242; }

/* =Testimonials
-------------------------------------------------------------- */

#bx-pager { margin-top: 50px; }
#bx-pager li { width: 25%; float: left; text-align: center; }
#bx-pager a img {
	opacity: .4;
    filter: alpha(opacity=40); 
}

#bx-pager a:hover img, #bx-pager a.active img {
	opacity: 1;
    filter: alpha(opacity=100);
}

.bxslider { text-align: center; padding-top: 35px; }
.bxslider h3 { line-height: 1.6em; }
.bxslider h6 { margin-bottom: 35px; color: #8f8f8f; }

.bx-next, .bx-prev {
	position: absolute;
	display: block;
	text-indent: -999em;
	top: 60%;
	width: 20px;
	height: 48px;
	cursor: pointer;
	opacity: .5;
    filter: alpha(opacity=50);
}

.bx-next:hover, .bx-prev:hover {
	opacity: 1;
    filter: alpha(opacity=100);
}

.bx-next {
	right: -100px;
	background: url(images/icons/next.png) no-repeat center center;
}

.bx-prev {
	left: -100px;
	background: url(images/icons/prev.png) no-repeat center center;
}


/* =Footer
-------------------------------------------------------------- */

footer { width: 100%; background: #060606;}
.contact { text-align: center; }

.contact ::selection {
	background: #fff;
	color: #060606; 
}

.contact ::-moz-selection { 
	background: #fff;
	color: #060606; 
}

.contact li img { margin-bottom: 15px; }

.contact li:nth-child(1) {
	font-size: 0.9333333333333em; 
	opacity: .5;
    filter: alpha(opacity=50); 
}

#direc { font-size: 0.9333333333333em; color:#fff; opacity: .5; }
 
.contact a {
	display: block;
	font-size: 0.9333333333333em;
	font-weight: 300;
	margin-bottom: 20px;
    filter: alpha(opacity=50); 
}

.contact a:hover {
	opacity: .5;
    filter: alpha(opacity=100); 
}

.contact-heading { margin-top: 30px; }


#contact-form {
	position: relative;
	display: none;
	text-align: center;
	width: 100%;
	background: #060606;
	padding: 20px 0px 50px 0px;
	margin-top: 20px;
}

/* FORMS */

.form-field span input, .form-field span textarea {
	border: none;
	outline: none;
	padding: 0 10px;
	width: 100%;
	height: 35px;
	background: #1e1e1e;
	margin-top:20px;
	-webkit-appearance: none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #949494;
	font-family: 'Open Sans', helvetica, arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	font-size: 1em;
	-webkit-transition: background 0.33s linear;
	-moz-transition: background 0.33s linear;
	-o-transition: background 0.33s linear;
	transition: background 0.33s linear;
}

.form-field span input:focus, .form-field span textarea:focus {
	background: #fff;
	-webkit-transition: background 0.33s linear;
	-moz-transition: background 0.33s linear;
	-o-transition: background 0.33s linear;
	transition: background 0.33s linear;
}

.form-field span textarea {
	overflow: auto;
	height: 180px;
	padding: 18px;
}
 
.form-click input {
	margin-top: 30px;
	border: none;
	display: block;
	width: 100%;
	outline: none;
	cursor: pointer;
	text-align: center;
	-webkit-font-smoothing: antialiased;
	text-decoration: none;
	-webkit-appearance: none;
	font-size: 1em;
	font-family: 'Open Sans', helvetica, arial, sans-serif;
	font-weight: 400;
	text-transform: uppercase;
	color: #fff!important;
	background: #c0392b;
	line-height: 100%;
	padding: 12px 20px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.form-click input:hover { text-decoration: none; color: #060606!important; background: #1E934C; }

.subscribe input.text {
	display: inline-block;
	outline: none;
	-webkit-appearance: none;
	width: 340px;
	padding: 20px 0px 20px 15px;
	background: transparent;
	border: 1px solid #fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font: 1em "Open Sans";
	color: #fff;
	margin-bottom: 20px;
}

.subscribe input.submit {
	border: none;
	display: inline-block;
	outline: none;
	cursor: pointer;
	-webkit-font-smoothing: antialiased;
	text-rendering: geometricPrecision;
	text-decoration: none;
	-webkit-appearance: none;
	font: 1em "Open Sans";
	font-weight: 400;
	text-transform: uppercase;
	color: #fff;
	border: 1px solid #fff;
	margin-left: 10px;
	padding: 20px 55px;
	margin-bottom: 20px;
	letter-spacing: 0.20em;
	border-radius: 3px;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
}

.subscribe input.text::-ms-clear {
    display: none;
}

.subscribe input.submit:hover {
	background: rgba(255,255,255,.1);
}

/* END FORMS */

.loader { margin-top: 15px; }

#alert {
	display: none;
	margin-top: 30px;
}

.notification {
	display: block;
	position: relative;
	width: 100%;
	margin-bottom: 20px;
	padding: 10px 18px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.subscribe .notification {
	display: none;
	margin-left: auto;
	margin-right: auto;
	max-width: 620px;
}

.notification p {
	line-height: 26px;
	display: block;
	padding: 0;
	margin: 0;
	text-align: left;
	text-indent: 45px;
}

.notification.success { 
	border: 1px solid #fff;
	background: rgba(255,255,255,.05);
}

.notification.success p { 
	background: url(images/icons/tick.png) no-repeat;
	background-size: 26px 26px;
	color: #fff; 
}

.notification.error { 
	border: 1px solid #fff;
	background: rgba(255,255,255,.05); 
}

.notification.error p {
	background: url(images/icons/cross.png) no-repeat;
	background-size: 26px 26px; 
	color: #fff;  
}

.social-links {
	text-align: center;
	margin-top: 50px;
}

.social-links li {
	display: inline-block;
	margin-right: 15px;
}

.social-links li:last-of-type { margin-right: 0px; }
.social-links a { display: block; }

.social-links a:hover {
	opacity: .5;
    filter: alpha(opacity=50); 
}

.copyright {
	margin-top: 50px;
	margin-bottom: 10px;
	text-align: center;
	text-transform: none;
}
.copyright { color: #77777a; font-size:12px; text-transform:capitalize; }

/*STYLE RUBY-RED*/

/* Links */
a, a:visited {
	color: #e8422d;
	font-weight: 400;
	text-decoration: none;
}
a:hover {
	color: #43DB1D;
}

.button {
	border: 1px solid #e8422d;
}
.button:hover { border: 1px solid #ffa593; background-color:##db3e1e; }

.desktop.navigation .nav-content a:hover, .desktop.navigation .nav-content a.active, .post-title a:hover, .cat-item a:hover, .widget-archive a:hover, .recentcomments a:hover, .widget-recent-entries a:hover, .comment-meta a:hover, .required  
{ color: #ee3b16!important; }

.gallery-next .bx-next:hover  { background: #ee3b16 url('images/blog/next.png') no-repeat; background-size: 22px 22px;}
.gallery-prev .bx-prev:hover  { background: #ee3b16 url('images/blog/prev.png') no-repeat; background-size: 22px 22px;}

.filter.active, .filter:hover {
	color: #cb3c2d;
}


.tagcloud a { border: 1px solid #ee3b16; } 
.tagcloud a:hover { border: 1px solid #ffa593; }

.tabs ul li.active a {border-top: 2px solid #ee3b16;} 

/* Content */
.parallax.colored { background-color: #ee3b16; }
.list-dot {
	background-color: #cb3c2d;
}

.projectlist a:hover .projectinfo {
	background-color: #e8422d;
	-webkit-transition: background .33s linear;
	-moz-transition: background .15s linear;
	-o-transition: background .15s linear;
	transition: background .15s linear;
	opacity: 0.9;
	filter: alpha(opacity=10);
}


/* Targets Retina Enabled Devices */
@media 
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (   -moz-min-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 2dppx) {

.gallery-next .bx-next:hover  { background: #ee3b16 url('images/blog/next@2x.png') no-repeat; background-size: 22px 22px;}
.gallery-prev .bx-prev:hover  { background: #ee3b16 url('images/blog/prev@2x.png') no-repeat; background-size: 22px 22px;} 

}

/* DEMO ONLY */ 
.parallax-bg2 { background-image: url(../images/services-red.jpg); }
.parallax-bg4 { background-image: url(../images/news-red.jpg); }

/*END RUBY-RED*/


/* =Blog
-------------------------------------------------------------- */

#blog { margin-top: 30px; }

/* Post Styles */
.post { 
	position: relative;
	text-align: left;
	margin-top: 50px;
	padding: 0px 0px 30px 70px;
	border-bottom: 1px solid #e9e9e9;
}

.post-media { position: relative; }

.post-media img {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.post .date {
	position: absolute;
	text-align: center;
	width: 40px;
	padding-bottom: 10px;
	top: 0;
	left: 0;
	text-transform: uppercase;
	font-size: 1.6em;
	letter-spacing: 0.2em;
	line-height: 0.8em;
	border-bottom: 1px solid #e9e9e9;
}

.post .date small { font-size: 0.5833333333333333em; }

.post-title h2 {
	padding-top: 20px;
	text-transform: none;
	letter-spacing: normal;
}

.post.quote .post-title h2, .post.link .post-title h2 {
	font-size: 1em!important;
	text-transform: uppercase;
	letter-spacing: 0.20em;
	padding: 0;
}

.post-title a { color: #060606!important; }
.post-meta h6, .post-meta a { color: #a4a4a3!important; }

.gallery-next, .gallery-prev { position: absolute; z-index: 100; display: block; bottom: 10px; }
.gallery-next { right: 10px; }
.gallery-prev { right: 37px; }
.gallery-next .bx-next, .gallery-prev .bx-prev { 
	position: static; 
	width: auto; 
	height: auto; 
	top: auto; 
	opacity: 1; 
	filter: alpha(opacity=100); 
	right: auto;
	left: auto;
	text-indent: -999em;
	width: 22px;
	height: 22px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.gallery-next .bx-next  { background: #060606 url('images/blog/next.png') no-repeat; background-size: 22px 22px;}
.gallery-prev .bx-prev  { background: #060606 url('images/blog/prev.png') no-repeat; background-size: 22px 22px;}

/* Sidebar styles */

.widget {
	text-align: left;
	margin-top: 50px;
}

.search {
	border: none;
	float: left;
	outline: none;
	padding: 0px 0px 0px 10px;
	width: 80%;
	height: 40px;
	background: #fff;
	color: #aaaaaa;
	border-bottom: 2px solid #e9e9e9;
	border-left: 1px solid #e9e9e9;
	border-top: 1px solid #e9e9e9;
	-webkit-appearance: none;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}

.search-submit {
	margin: 0;
	padding: 0;
	border: none;
	float: left;
	outline: none;
	cursor: pointer;
	width: 20%;
	height: 40px;
	text-indent: -999em;
	background: #fff url(images/blog/search.png) no-repeat center center;
	background-size: 16px 16px;
	text-decoration: none;
	-webkit-appearance: none;
	border: 1px solid #e9e9e9;
	border-bottom: 2px solid #e9e9e9;
	-webkit-border-top-right-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	-moz-border-radius-topright: 3px;
	-moz-border-radius-bottomright: 3px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}


.textwidget {
	font-size: 0.8666666666667em;
	line-height: 1.6em;
}

.cat-item, .recentcomments {
	font-size: 0.8666666666667em;
	padding-bottom: 8px;
	margin-bottom: 15px;
	border-bottom: 1px solid #e9e9e9;
}


.cat-item a, .recentcomments a { color: #060606!important; font-weight: 400; }

.tagcloud a {
	display: inline-block;
	margin-right: 10px;
	margin-bottom: 10px;
	font-size: 0.8em;
	text-transform: uppercase;
	padding: 5px 10px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.widget-archive a, .widget-recent-entries a {
	color: #060606!important; 
	font-weight: 400;
	font-size: 0.8666666666667em;
	display: block;
	padding-bottom: 8px;
	margin-bottom: 15px;
	border-bottom: 1px solid #e9e9e9;
}

/* Comments */
.coment{ color:#8B8A8A; font-family:arial, "Helvetica Neue", Helvetica, Arial, sans-serif; letter-spacing:2px; text-transform:capitalize;}
.fuente-coment{ color:#575757; text-transform:capitalize;}
#comments { text-align: left; padding-top: 50px; }
#comments-title { margin-left: 70px; border-bottom: 2px solid #e9e9e9; padding-bottom: 30px; margin-bottom: 5px; }

.comment { float: left; }
.comment-body { position: relative; margin-left: 70px; border-top: 1px solid #e9e9e9; padding-top: 30px; }
.comment-author { position: absolute; top: 30px; left: -70px;}
.comment-author img { 
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.comment .children { margin-left: 70px; }

.fn { display: block; margin-bottom: 10px; }
.comment-meta, .comment-meta a { color: #a4a4a3!important; }

#respond { margin-left: 70px; margin-top: 50px; }
#reply-title { border-bottom: 2px solid #e9e9e9; padding-bottom: 30px; margin-bottom: 5px; }

.comment-reply-form { border-top: 1px solid #e9e9e9; }

.comment-notes { margin-top: 10px; color: #a4a4a3; }

.control-group label, .control-group .controls { display: inline-block; }
.control-group label { margin-left: 10px; font-weight: 400; }
.control-group .controls input { 
	margin-top: 15px;
	border: none;
	outline: none;
	height: 35px;
	background: #fff;
	padding-left: 15px;
	color: #a4a4a3;
	text-decoration: none;
	border: 1px solid #e9e9e9;
	border-bottom: 2px solid #e9e9e9;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px; 

}

.control-group .controls textarea {
	margin-top: 15px;
	border: none;
	outline: none;
	height: 180px;
	background: #fff;
	padding-left: 15px;
	padding-top: 15px;
	color: #a4a4a3;
	text-decoration: none;
	border: 1px solid #e9e9e9;
	border-bottom: 2px solid #e9e9e9;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.controls button {
	border: none;
	outline: none;
	padding: 0;
	margin: 0;
	outline: none;
	-webkit-appearance: none;
	background: #fff;
	cursor: pointer;
	margin-top: 15px;
	font-size: 0.8em;
	text-transform: uppercase;
	font-family: inherit;
	padding: 10px 20px;
	color: #a4a4a3;
	border: 1px solid #e9e9e9;
	border-bottom: 2px solid #e9e9e9;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: #ffffff;
}

.controls button:hover {
	background: #fff;
	background: -moz-linear-gradient(top, #ffffff 0%, #f5f5f5 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f5f5f5));
	background: -webkit-linear-gradient(top, #ffffff 0%,#f5f5f5 100%);
	background: -o-linear-gradient(top, #ffffff 0%,#f5f5f5 100%);
	background: -ms-linear-gradient(top, #ffffff 0%,#f5f5f5 100%);
	background: linear-gradient(top, #ffffff 0%,#f5f5f5 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f5f5f5',GradientType=0 );
}


/* =Slider
-------------------------------------------------------------- */
.slider-cover { width: 100%; background: #fff;}

#vegas-next, #vegas-prev {
	position: absolute;
	display: block;
	text-indent: -999em;
	width: 20px;
	height: 48px;
	cursor: pointer;
	top: 50%;
	margin-top: -24px;
}

#vegas-next:hover, #vegas-prev:hover {
	opacity: .5;
    filter: alpha(opacity=50);
} 

#vegas-next {
	right: -100px;
	background: url(../images/icons/next.png) no-repeat center center;
}

#vegas-prev {
	left: -100px;
	background: url(../images/icons/prev.png) no-repeat center center;
}

.vegas-loading {
	display: none;
}

.vegas-overlay {
	background: transparent url(../images/slider/overlays/01.png);
	opacity: 0.5;
	z-index: -1;
}

.vegas-background {
	-ms-interpolation-mode: bicubic;
	image-rendering: optimizeQuality;
    max-width: none !important; /* counteracts global img modification by twitter bootstrap library */
	z-index: -2;
}

.vegas-overlay,
.vegas-background {
	-webkit-user-select: none;
	 -khtml-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
}



/* =Media
-------------------------------------------------------------- */

/* Large screens */
@media only screen and (min-width : 1680px) {
	.bx-next { right: -250px; }
	.bx-prev { left: -250px; }
	#nextProject { right: -250px; }
	#prevProject { left: -250px; }

}

/* Tablet Landscape */
 @media only screen and (min-device-width : 768px) and (max-device-width : 1000px) and (orientation : landscape) {
	.parallax { background-size: cover; background-attachment: scroll; background-position: top center!important; }
	.fade, .slide, .entrance, .hatch { opacity: 1!important; }
	.ae-animation-fade, .ae-animation-slide, .ae-animation-entrance, .ae-animation-hatch { -webkit-animation-name: none; -moz-animation-name: none; -o-animation-name: none; animation-name: none; }
	#bx-prev, #bx-next { display: none; }
	#nextProject, #prevProject { display: none!important; }
	.projectlist a:hover .projectinfo { background: transparent; }
	 

	#customizer { display: none; } /* DEMO ONLY */
}

/* Smaller than 960px */
@media only screen and (max-width: 959px) {
	.nav-button { display: block; }
	.navigation { display: none; }
	.parallax { background-size: cover; background-attachment: scroll; background-position: top center!important; }
	.content { padding-top: 50px; } 
	.content.padded { padding-bottom: 50px; }
	.icons .overview {
	width: 33.3333333333%;
	margin-bottom: 30px;
	margin-left: 10%;
}
	.icon { cursor: pointer; }
	.projectlist li { width: 50%; }
	.fade, .slide, .entrance, .hatch { opacity: 1!important; }
	.ae-animation-fade, .ae-animation-slide, .ae-animation-entrance, .ae-animation-hatch { -webkit-animation-name: none; -moz-animation-name: none; -o-animation-name: none; animation-name: none; }
	#bx-prev, #bx-next { display: none; }
	#bx-pager { margin-top: 20px; }
	#bx-pager li { width: 50%; margin-top: 20px; }
	.social-links { margin-top: 30px; }
	#nextProject, #prevProject { display: none!important; }
	#respond { margin-left: 0px; }
	#vegas-prev, #vegas-next { display: none; }
	.tooltip { cursor: pointer; }
 

	#customizer { display: none; } /* DEMO ONLY */
}

/* Tablet Portrait Size */
@media only screen and (min-width: 768px) and (max-width: 959px) {

}

/* All Mobile Sizes */
@media only screen and (max-width: 767px) {
	.icons .overview {
	width: 50%;
	margin-left: 21%;
}
	.team-list { padding: 30px 0px 0px; }
	.team-member { padding-bottom: 25px; }
	#respond { padding-bottom: 50px; border-bottom: 2px solid #e9e9e9; }
	.filtering li { margin-bottom: 20px; }
	.value { padding-top: 35px; }
	.subscribe input.submit, .subscribe input.text { width: 100%; margin-left: 0;}
}

/* Mobile Landscape Size */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	.project-info { border-bottom: none; }
	.tooltip { width: 150%; left: 5%; margin-left: 0; }

}


/* Mobile Portrait Size */
@media only screen and (max-width: 479px) {
	.call-to-action li { margin-right: 0px; width: 100%; }
	.projectlist li { width: 100%; }
	#bx-pager li { width: 100%; }
	.project-info { border-bottom: none; }
	.tooltip { width: 150%; left: 5%; margin-left: 2%; }


 
	
}


/* Targets Retina Enabled Devices */
 
 
 
.drop-shadow {   margin:2em 42% 4em; }